.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-slide-container h1 {
  font-size: 4em;
}
.remark-slide-container .remark-code {
  font-size: 1.5em;
}
.remark-slide-container p {
  font-size: 2em;
}
.remark-slide-content ul {
  font-size: 2em;
  padding-bottom: 0.5em;
  list-style: none;
}
.remark-slide-content li {
  margin-bottom: -0.4em;
}
.remark-slide-content li:before {
  content: "";
  border-color: transparent #111;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: -0.8em;
  top: 0.75em;
  position: relative;
}
.remark-code-line-highlighted {
  background-color: #ffffaa;
}
.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}
.huge {
  font-size: 200%;
}
.large {
  font-size: 130%;
}
.small {
  font-size: 70%;
}
.bleach {
  color: #aaaaaa;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td {
  padding: 5px;

}
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
  background: #eee

}
@page {
  margin: 0;
}
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
.remark-slide-number {
  position: inherit;
}
.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 7px;
  display: block;
  left: 0;
  right: 0;
}
.remark-slide-number .progress-bar {
  height: 100%;
  background-color: #004225;
}
.remark-code {
  border-left: 3px solid #cccccc;
  text-align: left;
}
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
