/*-- scss:defaults--*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,600;1,800&family=Vollkorn+SC&family=Vollkorn:ital,wght@0,400;0,600;1,400;1,600&display=swap');

// fonts
$font-family-sans-serif: "Fira Sans Condensed", sans-serif !default;
$presentation-heading-font: "Fira Sans Condensed", sans-serif !default;
$presentation-font-size-root: 50px;
$presentation-heading-line-height: 1.3;

// colors
$body-bg: #f8f8f8 !default;
$body-color: #111827 !default;
$link-color: #1E40AF !default;
$selection-bg: rgba(0, 0, 0, 0.99);

.reveal .progress {
    color: #004225 !important;
    height: 15px;
}

// headings
.slide h2 {
    padding-bottom: 0.7rem;
}

// transition
.reveal[data-transition-speed="mca"] .slides section {
	transition-duration: 1200ms;
    transition-timing-function: ease-in;
    transition-timing-function: cubic-bezier(0.5, 0, 1, 1);
}
.reveal .slides section[data-transition-speed="mca"] {
	transition-duration: 1200ms;
    transition-timing-function: ease-in;
    transition-timing-function: cubic-bezier(0.5, 0, 1, 1);
}

// inverted mode
.inverted.reveal-viewport {
    background-color: #333;
    a:link {
        color: #ddd;
    }
    a:hover {
        color: #570;
    }
    .reveal .slide-menu-button a i {
        filter: invert(99%) sepia(3%) saturate(118%) hue-rotate(261deg) brightness(119%) contrast(100%);
    }
    .slide, .controls-arrow, .slide h2, .slide h1, .title-slide h1 {
        color: #fff;
    }
    .slide-number {
        font-size: 0.8em !important;
        color: #fff !important;
        font-family: "Fira Sans Condensed" !important;
        font-weight: 500 !important;
        opacity: 0.8 !important;
    }
}

#title-slide.inverted {
    h1, h2, p {
        text-shadow: 0 0 10px rgba(0,0,0,0.5) !important; 
        color: #fff !important;
    }
}

.light-bg.reveal-viewport {
    background-color: #f8f8f8;
}

// headings

h1, h2 {
    text-transform: uppercase !important;
}

// table

th {
    font-weight: 500 !important;
}

// hr

hr {
    width: 200px;
    height: 3px;
    background-color: #333;
    border-color: #333;
    margin-bottom: 40px;
    margin-top: 40px;
}

ul + hr {
    margin-top: 15px;
}

// blockquotes
.reveal blockquote {
    border-left: none !important;
    color: #111827 !important;
    p {
        font-family: "Vollkorn";
        text-align: justify !important;
        font-style: normal;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
    p:first-child {
        display: block !important;
    }
    p + p:last-child {
        display: block !important;
        font-family: "Vollkorn SC";
        font-size: 2rem;
        text-align: right;
    }
}

// lists
.reveal ul {
    list-style: none !important;
    text-indent: -60px;

    li:before {
        content: "\27bd \0020";
    }
}


// helpers
.hide-heading {
    h1, h2 {
        display: none;
    }
}

h1.title.small {
    font-size: 5.5rem !important;
}

.text-center {
    text-align: center;
}

.text-mute {
    color: #eee;
    text-shadow: 0 0 10px rgba(0,0,0,0.5) !important; 
}

.text-bleach {
    color: #999;
}

.text-right {
    text-align: right;
}

.text-small {
    font-size: 0.6em;
}

.heading-white {
    h1, h2 {
        color: #fff !important;
    }
}

.heading-shadow-black {
    h1, h2 {
        text-shadow: 0 0 10px rgba(0,0,0,0.5) !important; 
    }
}

.heading-shadow-white {
    h1, h2 {
        text-shadow: 0 0 10px rgba(255,255,255,0.5) !important; 
    }
}

.heading-small {
    h1, h2 {
        font-size: 3rem !important;
    }
}

.heading-center {
    h1, h2 {
        text-align: center;
    }
}

.heading-smaller h2 {
    font-size: 1.5em !important;
}

.pos-middle {
    margin-top: 2em !important;
}

.add-padding img {
    padding: 10px;
    background-color: #fff;
}

// slide numbers
.slide-number {
    bottom: 15px !important;
    a[href*="repositorium"], a[href*="title-slide"], a[href*="agenda"], a[href*="quellen"], a[href*="karte-3d"], 
    a[href*="r-pakete"], a[href*="nala"], a[href*="mannigfaltigkeit"], a[href*="rhizomorph"], a[href*="logbuch"], 
    a[href*="teil"], a[href*="studienwahl"], a[href*="publikationen"] {
        display: none;
    }
}

.slide-number {
    font-size: 0.8em !important;
    color: #111827 !important;
    font-family: "Fira Sans Condensed" !important;
    font-weight: 500 !important;
    opacity: 0.8 !important;
}

.slide-number-a {
    span:first-child {
        vertical-align: middle;
    }
    span + span {
        font-size: 0.7em;
        vertical-align: middle;
    }
}

// intro slide
#title-slide {
    h1 {
        text-transform: uppercase;
        font-size: 2.3em;
    }
    h1, p {
        text-shadow: 0 2px 4px rgba(0,0,0,0.5) !important;
    }
    .subtitle {
        text-transform: uppercase;
        line-height: 3 !important;
    }
}

// Schema-Tabelle
.ts-schema {
    th {
        font-weight: normal !important;
    }
    thead tr:first-child th:first-child {
        border: none;
    }
    tbody tr:first-child td:first-child {
        border: none;
    }
    tbody tr td {
        height: 100px;
        vertical-align: middle;
    }
    tbody tr td + td {
        border: 1px solid #000 !important;
    }
}

// lists

ol li {
    margin-top: 0.7em;
    padding-left: 0.3em;
}

// ol {
//     margin-left:0; 
//     padding-left:0; 
//     counter-reset:item
// }

// ol>li {
//     margin-left:0; 
//     padding-left:0;     
//     counter-increment:item; 
//     list-style:none inside;
//     margin-bottom:10px
// }

// ol>li:before {
//     content: counter(item);
//     padding: 10px 10px;
//     margin-right:0.5em;
//     background:#333;
//     color: #fff;
//     font-size: 0.7em;
//     border-radius: 10px; 
// }

// QR Codes
.qrcode img {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
