<section id="$idprefix$title-slide"$for(title-slide-attributes/pairs)$ $it.key$="$it.value$"$endfor$
    data-background-video="video/zurich.mp4" data-background-video-loop="true" data-background-video-muted="true" class="inverted">
    <!-- Quelle: Video von Twicce  Switzerland
: https://www.pexels.com/de-de/video/segeln-see-blauer-himmel-ufer-5567016/ -->
  <h1 class="title small">$title$</h1>
$if(subtitle)$
    <p><span class="subtitle">$subtitle$</span> • <span class="date">$date$</span></p>
$endif$
$for(author)$
  <p class="author">$author$</p>
$endfor$
$for(institute)$
  <p class="institute">$institute$</p>
$endfor$
</section>
